
.mountain-search{
    border: solid #81adab 3px;
    margin-left: 350px;
    width: 700px;
    height: 80px;
    margin-bottom: 60px;
    background: transparent;
    color: black;
}



.mountain-content {
    max-width: 900px;
    margin-left: 390px;
    margin: 1 auto;
    margin-top: 1px;
    height: 555px;
    background-size: 550px 300px;
    background-position:left bottom ;
    background-repeat: no-repeat;
}
.mountain-content-name{
    color: black;
    position: absolute;
    margin-top: 10px;
}

.mountain-content-high{
    position: absolute;
    font-size: 25px;
    margin-top: 115px;
}


.mountain-content-location{
    color: black;
    font-size: 25px;
    margin-top: 190px;
    position: absolute;
}

.mountain-content-imgInfo{
    position: absolute;
    color: black;
    margin-left: 510px;
    margin-top: 537px;
    font-size: 13px;
    color: gray;
}


.sky-content {
    max-width: 350px;
    width: 295px;
    position: absolute;
    margin-top: -555px;
    margin-left: 1305px;
    height: 255px;
    background-color: white;
    border: solid 2px gainsboro;
    border-radius: 5%;

}

.temperature-content {
    max-width: 350px;
    width: 290px;
    position: absolute;
    margin-top: -555px;
    margin-left: 1610px;
    height: 255px;
    background-color: white;
    border: solid 2px gainsboro;
    border-radius: 5%;
}

.rain-content {
    max-width: 350px;
    width: 295px;
    margin-top: -285px;
    margin-left: 1305px;
    height: 285px;
    background-color: white;
    border: solid 2px gainsboro;
    border-radius: 5%;
}

.humidity-content {
    max-width: 350px;
    width: 290px;
    margin-top: -285px;
    margin-left: 1610px;
    height: 285px;
    background-color: white;
    border: solid 2px gainsboro;
    border-radius: 5%;
}

.wind-content {
    max-width: 350px;
    width: 280px;
    margin-top: 25px;
    margin-left: 390px;
    height: 300px;
    background-color: white;
    border: solid 2px gainsboro;
    border-radius: 5%;
}


.microDust-content {
    max-width: 350px;
    width: 280px;
    margin-top: -300px;
    margin-left: 700px;
    height: 300px;
    background-color: white;
    border: solid 2px gainsboro;
    border-radius: 5%;
}

.ultrafDust-content {
    max-width: 350px;
    width: 280px;
    margin-top: -300px;
    margin-left: 1010px;
    height: 300px;
    background-color: white;
    border: solid 2px gainsboro;
    border-radius: 5%;
}

.weatherRating{
    width: 590px;
    height: 300px;
    margin-left: 1310px;
    margin-top: -300px;
    background-color: white;
    border: solid 2px gainsboro;
    border-radius: 5%;
}


.mountain-layout{
    /* all: initial; */
    /* 위의 코드는 기존 css 를 무효화하고, 나만의 css 만을 적용시키게 해주는 역할을 함. 해제하여도 레이아웃 유지됌 */
    color: black;
    background-color:  #f5f7fa;
}

/* 산 정보 CSS 끝 */


/*산 후기 CSS*/
.mountain-review-title{
    color: black;
    font-size:25px;
    margin-top: 120px;
    margin-left: 1000px;
    position: absolute;
}

.mountain-review-subtitle{
    color: black;
    font-size:18px;
    margin-top: 180px;
    margin-left: 900px;
    position: absolute;
}
.mountain-table{
    margin-left: 600px;
    width: 1200px;
    font-size: 17px;
    margin-top: 250px
}

.mountain-table-content{
    font-size: 15px;
    font-weight: normal;
}

.review-form{
    width: 600px;
    margin-left: 800px;
    margin-top: 250px;
    margin-bottom: -200px;
    font-size: 20px;
    color: black;
    display: none;

}

.review-form-button{
    position: absolute;
    margin-left: 1670px;
    margin-top: 180px;
}



/* 산 후기 CSS 끝 */


/* 로그인 버튼 CSS */
#OAuthLogin{
    margin-right: 100px;
    margin-bottom: 70px;
}

#naverButton{
    width: 190px;
    height: 50px;
    margin-bottom: 10px;
}

#kakaoButton{
    width: 190px;
    height: 50px;

}

.button2 {
    margin-right: 120px;
    margin-top: 90px;
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}

#LoginSuccess p{
    font-size: 20px; float: left; margin-top: -15px;
}

#LoginSuccess p:last-child {
    font-size: 15px;
    float: left;
}
/* 로그인 버튼 CSS 끝*/


/* 원형 차트 ~ 차트 안 사진  */
.chart {
    background:lightgray;
    margin-left: 45px;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;
    display:inline-block;
}

.chart:after{
    content:'';
    background: #fff;
    position: absolute;
    top:50%; left:50%;
    width:185px; height:185px;
    border-radius: 50%;
    transform: translate(-50%, -50%);

}
.chart-bar{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    color: #539dce;
}

.circleImg{
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 100px;
    margin-top: 20px;
    z-index: 2;
}
/* 원형 차트 ~ 차트 안 사진 끝*/


/*날씨 TEXT 관련 css*/
.percentText{
    position: absolute;
    margin-top: 100px;
    margin-left: 115px;
    z-index: 2;
}

.todayTempAndSkyText{
    text-align: center;
    margin-top: 20px
}

.temperatureText{
    margin-left: 150px;
    margin-top: 50px;
    font-weight: bold;
}

.skyText{
    text-align: center;
    margin-top: 140px;
    font-weight: bold;
}

.currentWeatherText{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
}

.windAndDustStateText{
    margin-top: 160px;
    text-align: center;
    font-weight: bold
}

.dustConcentrationText{
    text-align: center;
    font-size: 15px;
}
/*날씨 TEXT 관련 css 끝 */


/*날씨 이미지 관련 CSS */
.temperatureImg{
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: 80px;
}


.centerImg{
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: 15px;
    margin-left: 80px;
}


.notRainAndSnowImg{
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: 65px;
    margin-left: 80px;
}

.DustImg{
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-left: 80px;
}
/*날씨 이미지 관련 CSS 끝*/

/* 산 리스트 */
.listPageSearch{
    width: 500px ;
    height: 70px;
    margin: auto;
    margin-top: 34px ;
    position: absolute ;
    margin-left: 690px ;
}

.listPageSearchBtn{

    margin-left: 1200px;
    position: absolute;
}

.listResultText{
    margin-top: 150px;
    margin-left: 800px;
}
.searchMountainWeather{
    position: absolute;
    margin-top: -5px;
    margin-left: 550px;
}

.listMountainImg{
    width: 200px;
    height: 150px;
    margin-left: 110px;
}

.listResultCard{
    max-width: 1000px;
    margin-left: 550px;
    margin-top: 50px;
    font-size: 20px;
}

.listMountainHigh{
    margin-top: -70px;
    margin-left: 300px;
}

.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin: auto;
}

.pagination li {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.reviewTitle{
    color: black;
    margin-bottom: 25px;
}

.reviewContent{
    color: black;
    font-size: 15px;
    font-weight: normal;
}

.reviewContentWriter{
    position: absolute;
    margin-top: 55px;
    font-size: 13px;
    font-weight: normal;
}

.reviewContentCreateTime{
    margin-left: 20px;
}


.reviewRateLayout{
    margin-bottom: 150px;
}

.reviewRateTitle{
    margin-right: 100px;
}

.reviewRateGoodImg{
    position: absolute;
    margin-right: 280px;
    width: 100px;
    margin-top: 170px;
}
.reviewRateGoodCount{
    position: absolute;
    margin-right: 235px;
    width: 100px;
    margin-top: 300px;
    font-weight: normal;
    color: black;
}
.reviewRateBadImg{
    position: absolute;
    width: 100px;
    margin-right: 90px;
    margin-top: 170px;
}

.reviewRateBadCount{
    position: absolute;
    margin-right: 50px;
    width: 100px;
    margin-top: 300px;
    font-weight: normal;
    color: black;
}