<!DOCTYPE HTML>
<html>
	<head>
		<title>산 스토리 - 검색결과</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/mountain-info.css" />

    
	</head>
	<body class="is-preload">

        		<!-- Header -->
	<div id="header" class="dasf">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="/images/avatar.jpg" alt="" /></span>
							<h1 id="title">야스</h1>
							<p>Hyperspace Engineer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

             <!-- 옆에 사이드바 끝    -->
            
             <div class="mountain-layout">
                
                <div class="mountain-content">
                    <p>산 정보 섹션</p>
                </div>


                <div class="sky-content">
                    <p>하늘 정보 섹션</p>
                </div>

                <div class="temperature-content">
                    <p>온도 정보 섹션</p>
                </div>

                <div class="rain-content">
                    <p>강수 정보 섹션</p>
                </div>

                <div class="humidity-content">
                    <p>습도 정보 섹션</p>
                </div>


                <div class="snow-content">
                    <p>적설 정보 섹션</p>
                </div>


                <div class="wind-content">
                    <p>바람 정보 섹션</p>
                </div>

                <div class="ocean-content">
                    <p>파도 정보 섹션</p>
                    
                </div>
            </div>

        
        <div class="mountain-review">
            <hr>
            <p class="mountain-review-title">OOO산 후기</p>
            <p class="mountain-review-subtitle">OOO산의 후기를 사람들에게 공유해주세요!</p>        

            <table class="table table-hover" id="review-table">
                <thead>
                    <tr>
                        <th style="padding-left: 3px;">번호</th>
                        <th>말머리</th>
                        <th style="padding-left: 550px;">제목</th>
                        <th>작성자</th>
                        <th>시간</th>  
                        <th style="padding-left: 1px;">추천</th>       
                    </tr>
                </thead>     
                <tbody>
                    <tr>
                        <td >1</td>
                        <td>등산 후기</td>
                        <td  style="padding-left: 100px;">산이 좋네요</td>
                        <td>tj**12</td>
                        <td>2024-01-11</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
         </div>

            

            
            
            

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </body>
</html>