<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>산 스토리 - 검색결과</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/mountain-info.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="is-preload">
<div id="header">
	<div class="headerMarginValue">
		<img src="/images/MountainStoryImg.png" class="mountainStoryImg">
		<p class="logoText">오늘의 산 !</p>

		<div id="OAuthLogin" th:unless="${#authorization.expression('isAuthenticated()')}">
			<a href="/oauth2/authorization/naver">
				<img id="naverButton" src="/images/naverLoginLogo.png">
			</a>

			<a href="/oauth2/authorization/kakao">
				<img id="kakaoButton" src="/images/kakaoLoginLogo.png">
			</a>
		</div>

		<div th:if="${#authorization.expression('isAuthenticated()')}"  class="userProfileLine">
			<img src="/images/userImg.png" class="userImg">

			<h3 class="userNameText" th:text="${loginMember.name}"></h3>
			<p class="userEmailText" th:text="${loginMember.email}"></p>
			<nav>
				<ol class="breadcrumb userMenu">
					<li class="breadcrumb-item"><a th:href="@{/member/myInfo}">마이 페이지</a></li>
					<li class="breadcrumb-item"><a th:href="@{/member/review/history}">게시 글</a></li>
					<li class="breadcrumb-item"th:if="${kakao}"><a href="https://kauth.kakao.com/oauth/logout?client_id=0d05cb8e8296ee92d3df6bb356bd1566&logout_redirect_uri=http://localhost:8080/logout">로그아웃</a></li>
					<li class="breadcrumb-item"th:if="${naver}"><a href="/home/naverLogout">로그아웃</a></li>
				</ol>
			</nav>
		</div>
	</div>

	<!-- Nav -->
	<nav id="nav">
		<div class="rankingBorder">
			<h1 class="rankingTitle">추천 많이 받은 리뷰 TOP7</h1>
			<ol class="rankingList">

				<li data-bs-toggle="modal" th:each="rankingTop7,rankingTop7ElementIndex : ${top7GoodReviewList}" th:attr="data-bs-target='#'+${rankingTop7ElementIndex.count}" class="rankingElement">
					<a class="rankingListTitle" th:text="${rankingTop7.getReviewTitle()}" ></a>
					<img class="rankingGoodCountImg" src="/images/rankingGoodCount.png">
					<span class="rankingGoodCount" th:text="${rankingTop7.getReviewRatingGoodCount()}"><img class="rankingGoodCountImg" src="/images/rankingGoodCount.png"></span>
				</li>

			</ol>
		</div>
	</nav>

	<div class="bottom">

	</div>
</div>

<form th:action="@{/mountain/info/search/list}" method="GET">
	<input id="mountainNameInput" class="listPageSearch"  name="mountainName" type="text" placeholder="궁금하신 산을 입력해주세요"><br>
	<button id="searchMountainBtn" class="button scrolly listPageSearchBtn" type="submit">검색하기</button>
	<div class="loadingImg" id="displayImage" >
		<img class="loadingImgDetail" src="/images/world-6627_256.gif" alt="특정 이미지">
		<p class="loadingText" id="displayText"></p>
	</div>
</form>


<h3 class="listResultText">검색 결과 입니다</h3>

<div class="card mb-3 listResultCard" th:each="mountainInfo,mountainInfoStat: ${mountainInfoList}">
	<div class="row g-0">

		<div class="col-md-8">
			<div class="card-body" >
				<p class="card-text" th:text="'산 이름: '+${mountainInfo.getMountainName()}"></p>
				<p class="card-text listMountainHigh" th:text="'산 높이: '+${mountainInfo.getMountainHigh()}+'m'"></p>
				<a class="btn btn-outline-success searchMountainWeather" th:href="@{/mountain/info/search/one/{mountainIndex}(mountainIndex=${mountainInfoStat.index})}">날씨 확인하기</a>
				<p class="card-text" th:text="'산 위치: '+${mountainInfo.getMountainLocation()}"></p>
			</div>
		</div>

		<div class="col-md-4" th:if="${mountainInfo.getMountainImgUrl() != null}">
			<img class="listMountainImg"  th:src="'http://www.forest.go.kr/images/data/down/mountain/' + ${mountainInfo.getMountainImgUrl()}">
		</div>
		<div class="col-md-4" th:unless="${mountainInfo.getMountainImgUrl()}">
			<img class="listMountainImg"  src="/images/noImg.png">
		</div>
	</div>
</div>

<div th:each="rankingTop7,rankingTop7ElementIndex : ${top7GoodReviewList}">
	<div class="modal fade" th:id="${rankingTop7ElementIndex.count}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5 reviewTitle" id="exampleModalLabel" th:text="${rankingTop7.getReviewTitle()}"><br></h1>
					<div class="reviewContentWriter">
						<a style="margin-right: 22px" th:text="${rankingTop7.getReviewMountainName()}"></a>
						<a th:text="'작성자: '+${rankingTop7.getReviewWriter()}"></a>
						<a class="reviewContentCreateTime" th:text="'작성: '+${rankingTop7.getCreateTime()}"></a>
					</div>
					<a class="checkReviewer memberDeleteText">삭제</a>
				</div>
				<div class="modal-body">
					<a class="reviewContent" th:text="${rankingTop7.getReviewContent()}"></a>
					<input type="hidden" id="reviewNumber" th:value="${rankingTop7.getReviewNumber()}">
				</div>

				<div class="modal-footer">
					<div class="btn-group" role="group" aria-label="Basic outlined example">
						<button type="button" class="btn btn-primary rateGoodAccessCheck">추천!</button>
						<a class="btn btn-outline-primary" th:text="${rankingTop7.getReviewRatingGoodCount()}"></a>
					</div>

					<div class="btn-group" role="group" aria-label="Basic outlined example">
						<button type="button" class="btn btn-danger rateBadAccessCheck">비추천</button>
						<a class="btn btn-outline-danger" th:text="${rankingTop7.getReviewRatingBadCount()}"></a>
					</div>

					<input type="hidden" class="OnlyjQueryReviewNumber" th:value="${rankingTop7.getReviewNumber()}">
					<input type="hidden" class="OnlyjQueryReviewerId" th:value="${rankingTop7.getMemberId()}">

					<button type="button" class="btn btn-secondary reviewCloseBtn" data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/assets/js/loadingFunction.js"></script>
<script src="/assets/ajax/reviewDeleteWarn.js"></script>
<script src="/assets/ajax/reviewStatFunction.js"></script>
<script src="/assets/ajax/checkAccessMember.js"></script>
<script src="/assets/ajax/checkReviewContent.js"></script>
<script src="/assets/js/showReviewFunction.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>